.BasePage {
  display: flex;
  flex-flow: column;
  min-width: 100vw;
  min-height: 100vh;

  > .Content {
    flex: 1;
    display: flex;
    flex-flow: column;
    width: 65%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
  }
}
