@import "../../../variables.scss";

// TODO: Responsivo
.LoginFormContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;

  > * {
    margin-bottom: 20px;
  }

  > .ErrorMessage {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: -5px;
    color: $default-red;
    font-size: 13px;

    > .Icon {
      font-size: 15px;
      margin-right: 0.5rem;
    }
  }

  > .Signup {
    font-size: 13px;
    margin: 0;
  }
}
